*{
	margin: 0;
	padding: 0;
}

body{
	background: #455481;
	font-size: 1em;
	font-family: 'Electrolize', sans-serif;
	font-weight: 400;
	color: #000;
}

.container{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}

.container > .content{}

.container > .content > header{
	font-size: 1.85em;
	margin: 0 0 40px;
	border-top: 6px solid #455481;
	padding: 40px 0 0 20px;
}

.container > .content > section.message{
	font-size: 1em;
	padding: 18px 0 14px 20px;
}

.container > .content > section.internal{
	position: absolute;
	bottom: 0;
	right: 0;
	color: #888;
	font-size: 0.85em;
	padding: 0 10px 6px 0;
	font-style: it
}